<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

<form th:action="@{/admin/create}" th:object="${user}" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" required>
    </br>
    <label for="surname">Surname</label>
    <input type="text" id="surname" th:field="*{surname}" required>
    </br>
    <label for="age">Age</label>
    <input type="text" id="age" th:field="*{age}" required>
    </br>
    <label for="age">Login</label>
    <input type="text" id="login" th:field="*{login}" required>
    </br>
    <label for="age">Password</label>
    <input type="text" id="password" th:field="*{password}" required>
    </br>
    <select th:name="roles" th:field="*{roles}">
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
    </select>
    <button type="submit">Create user</button>
</form>
<br>
<a href="/logout">Logout</a>

</body>
</html>