<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<h2>Create new user</h2>
<div>
<form th:action="@{/admin/allUsers/add}" th:object="${user}" method="POST">
    <fieldset>
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}">
        </br>
        <label for="surname">Surname</label>
        <input type="text" id="surname" th:field="*{surname}">
        </br>
        <label for="age">Age</label>
        <input type="number" id="age" th:field="*{age}">
        </br>
        <label for="age">Login</label>
        <input type="text" id="login" th:field="*{login}">
        </br>
        <label for="age">Password</label>
        <input type="password" id="password" th:field="*{password}">
        </br>
        <label>
            <select name="roles" id="roles">
                <option disabled>Roles:</option>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option selected value="ROLE_USER">USER</option>
            </select>
        </label>
        </br>
    </fieldset>
    </br>
    <button type="submit">Create user</button>
</form>
</br>
<form th:action="@{/admin/allUsers}">
    <button type="submit">Back admin page</button>
</form>
<br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>